/* specification */

body {
    font-family: 'Raleway', sans-serif;
    color: #939393;
    font-size: 14px;
    background: #f9f9f9;
}

ul, li {
    display: block;
    padding: 0;
    margin: 0;
}

h1, h2, h3, h4, h5 {
    font-weight: 800;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
    color: #383838;
}

h1 {
    font-weight: 800;
    font-size: 64px;
}

h3 {
    font-size: 14px;
}

.green {
    color: #00a99d;
}

p {
    padding: 0;
    margin: 0;
}

.wrap {
    justify-content: center;
    padding-right: 0;
    padding-left: 0;
}

/* header */

.header {
    background: url(../img/dino-reichmuth-85708-unsplash.jpg) no-repeat center top;
}

.title {
    padding-top: 220px;
    padding-bottom: 320px;
    text-align: center;
}

.title__first {
    text-transform: uppercase;
    color: #383838;
    font-size: 18px;
    text-align: center;
}

.title__startup {
    color: #e4e4e4;
    border-radius: 5px;
    font-size: 18px;
    background: #333333;
    text-transform: uppercase;
    padding-left: 10px;
    margin-top: 20px;
    margin-bottom: 40px;
}

.title__startup span {
    text-transform: none;
    font-weight: 800;
}

.header__wrap {
    justify-content: center;
    padding-right: 0;
    padding-left: 0;
    align-items: center;
}

.header__title {
    padding: 0 15px;
}

.line-left {
    border-top: 1px solid #383838;
    border-bottom: 1px solid #383838;
    width: 120px;
    height: 4px;
    margin: 0 15px;
}

.img-left {
    background: url(../img/left-shapes1.png)no-repeat center center;
    width: 35px;
    height: 15px;
}

.img-right {
    background: url(../img/right-shapes.png)no-repeat center center;
    width: 35px;
    height: 15px;
}

.title a:hover {
    text-decoration: none;
    color: #00f1e0;
}

.title a {
    transition: all 0.5s ease;
    color: #00a99d;
}

.fa-chevron-circle-down {
    font-size: 60px;
    justify-content: center;
    margin-top: 45px;
}

.logo {
    padding: 25px 0;
}

/* section nav-header */

.nav-header {
    margin-bottom: px;
    border-bottom: 2px solid #dedede;
}

.menu {
    justify-content: space-between;
}

.menu__item {
    font-weight: 800;
    font-size: 13px;
    text-transform: uppercase;
    padding: 40px 0;
}

.menu__item a {
    color: #606060;
    text-decoration: none;
    transition: all 0.4s ease;
    padding: 20px;
}

.menu__item a:hover {
    color: #e4e4e4;
    background: #00a99d;
    border-radius: 5px;
    width: 100px;
}

.fa-search {
    color: #00a99d;
    padding-left: 20px;
    font-size: 20px;
    padding-top: 40px;
}

/* section what-ofer */

.what-ofer {
    padding-top: 75px;
    padding-bottom: 110px;
}

.ofer-text {
    justify-content: center;
    display: block;
    align-items: center;
}

.ofer__line-left {
    /* border-top: 5px double #c3c3c3; */
    width: 300px;
    height: 4px;
    border-top: 1px solid #c3c3c3;
    border-bottom: 1px solid #c3c3c3;
    margin: 0 15px;
    /* margin-top: 17px; */
}

.ofer__img-left {
    background: url(../img/left-shapes1.png)no-repeat center center;
    width: 35px;
    height: 15px;
}

.ofer__title {
    color: #383838;
    text-align: center;
    padding: 0 15px;
}

.ofer__img-right {
    background: url(../img/right-shapes.png)no-repeat center center;
    width: 35px;
    height: 15px;
}

.ofer__line-right {
    border-top: 5px double #c3c3c3;
    width: 330px;
    margin-top: 17px;
}

.ofer-text__2 {
    font-size: 16px;
    text-align: center;
    margin-top: 10px;
}

.services {
    text-align: center;
    margin-top: 45px;
}

.services__img1 {
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    font-size: 36px;
    color: #e4e4e4;
    background: #383838;
    border-radius: 50%;
    width: 100px;
    height: 100px;
}

.services__img2 {
    font-size: 36px;
    color: #e4e4e4;
    background: #01a89e;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    padding: 15px;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.services__img3 {
    font-size: 36px;
    color: #e4e4e4;
    background: #383838;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.services__title {
    margin-top: 32px;
    margin-bottom: 22px;
}

.btn {
    background: #f9f9f9;
    font-size: 10px;
    font-weight: 800;
    color: #8a8a8a;
    text-transform: uppercase;
    border: 2px solid #dedede;
    border-radius: 5px;
    padding: 8px 0;
    display: block;
    cursor: pointer;
    width: 80px;
    margin: 0 auto;
    margin-top: 22px;
    text-align: center;
}

.btn_green {
    background: #01a89e;
    font-size: 10px;
    font-weight: 800;
    color: #e3e3e3;
    text-transform: uppercase;
    border: 2px solid #dedede;
    border-radius: 5px;
    padding: 8px 0;
    display: block;
    cursor: pointer;
    width: 80px;
    margin: 0 auto;
    margin-top: 22px;
    text-align: center;
}

/* section features */

.features {
    background: #383838;
}

.title-key {
    margin-left: auto;
    margin-right: auto;
}

.key {
    display: block;
    background: #01a89e;
    border-radius: 2px;
    width: 38px;
    height: 38px;
    margin-top: -19px;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    align-items: center;
    -moz-transform: rotate(45deg);
    /* Для Firefox */
    -ms-transform: rotate(45deg);
    /* Для IE */
    -webkit-transform: rotate(45deg);
    /* Для Safari, Chrome, iOS */
    -o-transform: rotate(45deg);
    /* Для Opera */
    transform: rotate(45deg);
}

.icon_key {
    font-size: 20px;
    color: #e4e4e4;
    -moz-transform: rotate(-45deg);
    /* Для Firefox */
    -ms-transform: rotate(-45deg);
    /* Для IE */
    -webkit-transform: rotate(-45deg);
    /* Для Safari, Chrome, iOS */
    -o-transform: rotate(-45deg);
    /* Для Opera */
    transform: rotate(-45deg);
}

.features_ofer-text {
    justify-content: center;
    display: block;
    align-items: center;
    padding-top: 75px;
}

.features_ofer__title {
    color: #e4e4e4;
    padding: 0 15px;
}

.features_ofer-text__2 {
    font-size: 16px;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 88px;
}

.feature {
    margin-left: 12px;
    margin-bottom: 60px;
}

.feature span {
    font-size: 50px;
    color: #00a99d;
    margin-right: 15px;
}

.feature__title {
    color: #e4e4e4;
    margin-bottom: 20px;
}

.feature__block {
    width: 262px;
}

.ipad {
    /* width: 670px;
    height: 500px; */
    width: 100%;
    height: 100%;
}

/* section more-features */

.more-features {
    padding-top: 75px;
}

.flags {
    margin-bottom: 110px;
}

.flags__img1 {
    background: url(../img/flag-first.png) no-repeat center center;
    width: 40px;
    height: 70px;
    margin-right: 15px;
    padding: 10px;
}

.flags__img2 {
    background: url(../img/flag-second.png) no-repeat center center;
    width: 40px;
    height: 70px;
    margin-right: 15px;
    padding-top: 10px;
    padding-left: 8px;
    padding-right: 11px;
}

.flags span {
    font-size: 20px;
    color: #e3e3e3;
}

.flags__intro {
    font-size: 12px;
    margin-bottom: 15px;
    color: #aaaaaa;
}

/* section skills */

.skills {
    background: #383838;
    padding-bottom: 65px;
}

.icon_toolbox {
    font-size: 20px;
    color: #e4e4e4;
    -moz-transform: rotate(-45deg);
    /* Для Firefox */
    -ms-transform: rotate(-45deg);
    /* Для IE */
    -webkit-transform: rotate(-45deg);
    /* Для Safari, Chrome, iOS */
    -o-transform: rotate(-45deg);
    /* Для Opera */
    transform: rotate(-45deg);
}

.skills_ofer-text__2 {
    font-size: 16px;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 50px;
}

.progres {
    color: #e4e4e4;
}

.circle75 {
    background: url(../img/75.png) no-repeat center center;
}

.circle92 {
    background: url(../img/92.png) no-repeat center center;
}

.circle68 {
    background: url(../img/68.png) no-repeat center center;
}

.circle100 {
    background: url(../img/100.png) no-repeat center center;
}

.circle83 {
    background: url(../img/83.png) no-repeat center center;
}

.circle50 {
    background: url(../img/50.png) no-repeat center center;
}

.shapes {
    width: 120px;
    height: 120px;
    font-size: 30px;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    display: inline-block;
}

.progres span {
    font-size: 16px;
}

.skills__title {
    color: #8a8a8a;
    margin-top: 18px;
    text-align: center;
}

/* section sampleWorks */

.sampleWorks {
    padding-top: 75px;
    padding-bottom: 105px;
}

.works-foto {
    padding-top: 50px;
}

.allWorks {
    justify-content: center;
    padding-left: 5px;
    padding-right: 5px;
}

.works img {
    width: 100%;
    height: 100%;
    border-radius: 3px;
}

.works {
    background: #8a8a8a;
    margin-bottom: 2px;
    margin-left: 1px;
    margin-right: 1px;
}

.btn_green2 {
    background: #00a99d;
    font-size: 13px;
    font-weight: 800;
    color: #e3e3e3;
    text-transform: uppercase;
    border: none;
    border-radius: 5px;
    padding: 8px 0;
    display: block;
    cursor: pointer;
    width: 100%;
    margin: 0 auto;
    margin-top: 50px;
    text-align: center;
    transition: all 0.5s ease;
}

.btn_green2:hover {
    background: #0d524d;
}

/* section facts */

.facts {
    background: #383838;
    padding-bottom: 90px;
}

.facts__img-left {
    background: url(../img/square.png)no-repeat center center;
    width: 13px;
}

.facts__img-green {
    background: url(../img/square-green.png)no-repeat center center;
    width: 13px;
}

.facts__progres {
    color: #e4e4e4;
    font-size: 80px;
    font-weight: 500;
    padding: 15px;
}

.facts__shapes {
    justify-content: center;
    display: block;
}

.facts__line-left {
    /* border-top: 2px solid #606060; */
    width: 115px;
    height: 1px;
    background: #606060;
    /* margin-top: 17px; */
}

.facts-text {
    justify-content: center;
    display: block;
    align-items: center;
}

.facts-text span {
    font-size: 20px;
    color: #00a99d;
    padding: 0 10px;
}

.facts__title {
    color: #606060;
    margin-top: 14px;
    text-align: center;
}

/* section purchase */

.purchase {
    background: #00a99d;
    padding: 20px 0;
}

.title-purchase {
    align-items: center;
    padding-left: 15px;
}

.purchase__title {
    font-size: 16px;
    color: #e4e4e4;
}

.purchase__btn {
    background: #e4e4e4;
    font-size: 13px;
    font-weight: 800;
    color: #8a8a8a;
    text-transform: uppercase;
    border: 3px solid #e4e4e4;
    border-radius: 5px;
    padding: 10px 0;
    display: block;
    cursor: pointer;
    width: 150px;
    margin-left: 10px;
    text-align: center;
    transition: all 0.5s ease;
}

.purchase__btn:hover {
    background: #16867e;
    color: #e4e4e4;
}

/* section team */

.team {
    padding-top: 80px;
    padding-bottom: 105px;
}

.team-text {
    justify-content: center;
    display: block;
    align-items: center;
}

.team__key {
    display: block;
    background: #383838;
    border-radius: 2px;
    width: 30px;
    height: 30px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all 0.3s ease;
}

.team__key:hover {
    background: #00a99d;
}

.right {
    position: absolute;
    right: 0;
}

.left {
    position: absolute;
    left: 0;
}

.team__title {
    color: #383838;
    text-align: center;
    padding: 0 15px;
}

.team__key span {
    font-size: 20px;
    color: #e4e4e4;
}

.team__line {
    width: 270px;
    height: 4px;
    border-top: 1px solid #c3c3c3;
    border-bottom: 1px solid #c3c3c3;
    margin: 0 15px;
}

.team-cards {
    margin-top: 50px;
}

.team__card {
    border: 1px solid #dedede;
    border-radius: 3px;
    text-align: center;
}

.card__body {
    margin-top: px;
}

.team__img {
    width: 100%;
    height: 253px;
    background: #8a8a8a;
    padding-top: 233px;
}

.team__img:hover {
    background: #ee01da;
    opacity: .7;
}

.team__btn {
    display: block;
    background: #01a89e;
    font-size: 13px;
    font-weight: 800;
    color: #e3e3e3;
    text-transform: uppercase;
    border: none;
    border-radius: 3px;
    padding: 10px 0;
    display: block;
    cursor: pointer;
    width: 135px;
    margin: 0 auto;
    margin-top: px;
    text-align: center;
    transition: all 0.3s ease;
    align-content: flex-end;
}

.team__btn:hover {
    background: #383838;
}

.team__text {
    color: #606060;
    font-size: 12px;
    font-weight: 500;
    margin-top: 12px;
    margin-bottom: 15px;
    text-transform: none;
}

.line {
    border-top: 1px solid #ebebeb;
    width: 98px;
    margin: 0 auto;
    margin-bottom: 5px;
}

.team__mail .team__phone {
    font-size: 12px;
}

.team__mail span {
    font-size: 16px;
    margin-right: 5px;
}

.team__phone span {
    font-size: 16px;
    margin-right: 5px;
}

/* section quotes */

.quotes {
    background: #00a99d;
    padding-bottom: 50px;
}

.quotes__key {
    /* display: block; */
    background: #383838;
    border-radius: 2px;
    width: 38px;
    height: 38px;
    margin-top: -19px;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    align-items: center;
    -moz-transform: rotate(45deg);
    /* Для Firefox */
    -ms-transform: rotate(45deg);
    /* Для IE */
    -webkit-transform: rotate(45deg);
    /* Для Safari, Chrome, iOS */
    -o-transform: rotate(45deg);
    /* Для Opera */
    transform: rotate(45deg);
}

.quotes__key span {
    font-size: 20px;
    color: #e4e4e4;
    -moz-transform: rotate(-45deg);
    /* Для Firefox */
    -ms-transform: rotate(-45deg);
    /* Для IE */
    -webkit-transform: rotate(-45deg);
    /* Для Safari, Chrome, iOS */
    -o-transform: rotate(-45deg);
    /* Для Opera */
    transform: rotate(-45deg);
}

.quotes__btn {
    background: #e4e4e4;
    font-size: 13px;
    font-weight: 500;
    color: #aeaeae;
    border: none;
    border-radius: 3px;
    padding: 13px 0;
    display: block;
    cursor: pointer;
    width: 248px;
    margin: 0 auto;
    margin-top: 75px;
    transition: all 0.3s ease;
}

.quotes__btn span {
    color: #00a99d;
    text-transform: uppercase;
    font-weight: 800;
}

.quotes__text {
    color: #dae0e0;
    font-size: 20px;
    text-align: center;
    margin-bottom: 28px;
    margin-top: 28px;
}

.quotes__arrows span {
    font-size: 20px;
    padding: 5px;
    color: #e4e4e4;
}

.quotes__arrows span:hover {
    font-size: 20px;
    color: #00a99d;
}

.quotes__key_down {
    display: block;
    background: #383838;
    border-radius: 2px;
    width: 30px;
    height: 30px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all 0.3s ease;
    margin: 2px;
}

.quotes__key_down:hover {
    background: #e4e4e4;
}

/* section clients */

.clients {
    padding-top: 50px;
    padding-bottom: 50px;
    background: #383838;
    align-items: center;
}

.clients__logo {
    width: 270px;
    height: 160px;
    background: #363636;
    justify-content: center;
    align-items: center;
}

.clients__logo:hover {
    background: #333333;
}

.logo__img {
    padding: 40px 50px;
    opacity: .2;
}

.logo__img:hover {
    opacity: 1;
}

.clients span {
    font-size: 20px;
    padding: 5px;
    color: #00a99d;
}

.clients span:hover {
    font-size: 20px;
    color: #e4e4e4;
}

.clients__key_down {
    display: block;
    background: #e4e4e4;
    border-radius: 2px;
    width: 30px;
    height: 30px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all 0.3s ease;
    margin-left: px;
}

.clients__key_down:hover {
    background: #00a99d;
}

.clients-wrap {
    align-items: center;
    /* width: calc(100vw - 405px); */
    margin: 0 auto;
}

/* section price-tables */

.price-tables {
    padding-top: 75px;
    padding-bottom: 400px;
}

.price__cards {
    margin-top: 70px;
}

.price__card {
    border: 1px solid #dedede;
    border-radius: 3px;
    text-align: center;
}

.price__body {
    margin-top: -20px;
}

.price__btn {
    background: #383838;
    font-size: 13px;
    font-weight: 800;
    color: #e3e3e3;
    text-transform: uppercase;
    border: none;
    border-radius: 3px;
    padding: 10px 0;
    display: block;
    cursor: pointer;
    width: 140px;
    margin: 0 auto;
    margin-top: -20px;
    text-align: center;
    transition: all 0.3s ease;
}

.price__btn_advanced {
    background: #383838;
    font-size: 13px;
    font-weight: 800;
    color: #e3e3e3;
    text-transform: uppercase;
    border: none;
    border-radius: 3px;
    padding: 10px 0;
    display: block;
    cursor: pointer;
    width: 190px;
    margin: 0 auto;
    margin-top: -20px;
    text-align: center;
    transition: all 0.3s ease;
}

.price__btn_advanced span {
    font-size: 16px;
    color: #00a99d;
    padding: 5px;
    transition: all 0.3s ease;
}

.price__btn_down {
    background: #00a99d;
    font-size: 13px;
    font-weight: 800;
    color: #e3e3e3;
    text-transform: uppercase;
    border: none;
    border-radius: 3px;
    padding: 10px 0;
    display: block;
    cursor: pointer;
    width: 140px;
    margin: 25px auto;
    text-align: center;
    transition: all 0.3s ease;
}

.price__card:hover button {
    background: #00a99d;
}

.price__card:hover span {
    color: #e3e3e3;
}

.price__card:hover .price__btn_down {
    background: #383838;
}

.price__text {
    padding: 15px 0;
}

.price__line {
    border-top: 1px solid #ebebeb;
    width: 227px;
    margin: 0 auto;
    margin-bottom: 5px;
}

.price__card_title {
    margin: 0 auto;
    justify-content: center;
    padding-bottom: 32px;
    padding-top: 23px;
}

.dolar {
    font-size: 16px;
    padding-right: 8px;
}

.big {
    font-size: 60px;
    color: #383838;
    margin-bottom: -9px;
    padding-right: 3px;
}

.cent {
    font-size: 16px;
    color: #383838;
    font-weight: 800;
}

.cents__dot {
    /* display: block; */
    background: #383838;
    border-radius: 2px;
    width: 10px;
    height: 10px;
    margin-top: 16px;
    margin-bottom: 6px;
    margin-left: auto;
    margin-right: auto;
    -moz-transform: rotate(45deg);
    /* Для Firefox */
    -ms-transform: rotate(45deg);
    /* Для IE */
    -webkit-transform: rotate(45deg);
    /* Для Safari, Chrome, iOS */
    -o-transform: rotate(45deg);
    /* Для Opera */
    transform: rotate(45deg);
}

.month {
    font-size: 12px;
    padding-left: 6px;
}

/* section bubble */

.bubble {
    background-color: #8a8a8a;
    color: #8a8a8a;
    border-top: 2px solid #dedede;
    padding-bottom: 75px;
    padding-top: 75px;
}

.bubble__title {
    text-transform: none;
    font-size: 26px;
}

.uppercase {
    text-transform: uppercase;
}

.bubble__btn {
    background: #01a89e;
    font-size: 13px;
    font-weight: 800;
    color: #e3e3e3;
    text-transform: uppercase;
    border: none;
    border-radius: 3px;
    padding: 10px 15px;
    display: block;
    cursor: pointer;
    width: auto;
    margin-left: auto;
    text-align: center;
    transition: all 0.3s ease;
    text-decoration: none;
    outline: none;
}

.bubble__btn:hover {
    background: #0d524d;
}

.bubble__btn span {
    font-size: 16px;
    margin-left: 7px;
}

/* footer */

.footer {
    background-color: #383838;
    padding-top: 45px;
    padding-bottom: 400px;
}

.logo_2 {
    padding-bottom: 60px;

   margin: 0 auto;
}

.icons {
    justify-content: center;
}

.icons__social {
    font-size: 16px;
    color: #e4e4e4;
    border: 1px solid #606060;
    border-radius: 4px;
    
    padding: 10px;
    margin: 0 5px;
    
}

